/* 4-style.css */

/* Define custom properties on the root element */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);

  /* Define custom font-family properties */
  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set body's font-family to font-family-base */
body {
  color: var(--text-color);
  font-family: var(--font-family-base);
}

/* Set anchor color to text-color */
a {
  color: var(--text-color);
}

/* Hide elements with the class visually-hidden */
.visually-hidden {
  display: none;
}

/* Reset card-category color to color-primary */
.card-category {
  color: var(--color-primary);
}

/* Reset section-tagline color to color-primary */
.section-tagline {
  color: var(--color-primary);
}

/* Apply font-family-title to all heading levels */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
}
